# Blazor WebAssembly-specific files/folders to ignore
*.pdb
*.user
*.log
*.bak
*.sqlite
**/bin/
**/obj/
**/obj-docker/
**/obj-debug/
**/obj-release/
**/node_modules/
**/wwwroot/dist/
**/wwwroot/client/
**/wwwroot/publish/
**/wwwroot/assets/
**/wwwroot/swagger/
**/obj-iis/
**/Properties/launchSettings.json

# Visual Studio files/folders to ignore
*.suo
*.sln.cache
*.vs/
*.vscode/
*.vsix/
*.sln.docstates
*.suo
*.userprefs
*.cache
*.csproj.user
*.resharper.user
*.resharper
*.sln.DotSettings
*.suo.DotSettings
*.user.DotSettings
*.vssscc
*.vs10x
*.vssettings
